.history-full {
    display: flex;
}

.history-container {
    width: 95vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
}

.input-box-history {
    position: relative;
    width: 25%;
}

.input-history {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    height: 90%;
    padding-left: 30px;
}

.heading-history{
    text-align: center;
    margin: 15px 0;
    text-decoration: underline;
}

.delete-history-btn {
    width: 20%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
}

.table-history {
    table-layout: fixed;
    margin-top: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.value {
    width: 95vw;
    text-align: center;
    /* border: 1px solid black; */
}

.value th {
    padding: 10px;
    background-color: rgb(192, 191, 191);
}

.value td {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.Win,
.Draw,
.Lose {
    font-weight: 600;
}

.Win {
    color: green;
}

.Draw {
    color: blue;
}

.Lose {
    color: red;
}

.caption-history {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.search-parent {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.select-option {
    width: 20%;
    height: 40px;
}

.no-history-filter {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 6px;
}