.subheader {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  margin: 10px;
  padding: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.parentCount {
  position: relative;
  margin: auto 0;
}

.currentPlayer {
  position: absolute;
  top: 10%;
  right: 10%;
}

.two:not(:last-child)::after {
  content: " & ";
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  position: relative;
  background-color: white;
}

.winner-index {
  color: green;
}

.line {
  position: absolute;
  background-color: red;
  z-index: 10;
}

.row-1 {
  top: 16%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.row-2 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.timer-text {
  border: 1px solid black;
  border-radius: 50%;
  /* padding: 10px; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row-3 {
  top: 83%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.col-1 {
  left: 16%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.col-2 {
  left: 50%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.col-3 {
  left: 83%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.diag-1 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
  transform: rotate(45deg);
}

.diag-2 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
  transform: rotate(-45deg);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid #333;
  cursor: pointer;
}

.main-container {
  height: 85dvh;
  display: flex;
  justify-content: space-around;
  background-image: url('https://cdn.aptoide.com/imgs/8/3/1/83152e7891e0d578211e2b96d93d35f7_feature_graphic.jpg');
}

.main-container::before {
  filter: blur(8px);
}

.history {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  margin: 2px 0;
  justify-content: center;
  width: 65%;
}

.no-history {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.history-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 10px 0;
  width: 20%;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  margin: 10px;
  width: 65%;
  font-weight: 400;
  cursor: pointer;
}

.play-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.change-time,
.add-opponent{
  border: none;
  padding: 5px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  margin-bottom: 6px;
  height: 4%;
  cursor: pointer;
  width: 150px;
}

.leave-room {
  border: none;
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-bottom: 6px;
  height: 4%;
  cursor: pointer;
  width: 150px;
}

.start-btn {
  height: 50px;
  width: 220px;
}

.playing {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
}

.started {
  border-radius: 5px;
}

.already-friend {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 6px;
  height: 30px;
  width: 150px;
}

.ask-friend {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 6px;
  height: 30px;
  width: 150px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

.timer-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.timer {
  position: absolute;
  top: 50%;
  border: 1px solid black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  align-items: center;
  margin: auto 0;
  background-color: white;
}