.subheader {
  display: flex;
  justify-content: space-around;
  background-color: #f1f5f9;
  border-bottom: 1px solid grey;
  margin: 10px;
  padding: 5px;
  height: 80px;
  margin: 0;
  padding-bottom: 0;
}

.names {
  margin: auto 0;
}

.parentCount {
  position: relative;
  margin: 140px 120px;
}

.currentPlayer {
  position: absolute;
  top: 3%;
  right: 9%;
}

.other-player {
  border: 1px solid black;
}

.two:not(:last-child)::after {
  content: " & ";
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px 220px;
  position: relative;
  /* background-color: white; */
}

.winner-index {
  color: green;
}

.line {
  position: absolute;
  background-color: red;
  z-index: 10;
}

.row-1 {
  top: 16%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.row-2 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.timer-text {
  /* border: 1px solid black; */
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row-3 {
  top: 83%;
  left: 5%;
  width: 90%;
  height: 4px;
}

.col-1 {
  left: 16%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.col-2 {
  left: 50%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.col-3 {
  left: 83%;
  top: 5%;
  height: 90%;
  width: 4px;
}

.diag-1 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
  transform: rotate(45deg);
}

.diag-2 {
  top: 50%;
  left: 5%;
  width: 90%;
  height: 4px;
  transform: rotate(-45deg);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid #333;
  background-color: white;
  cursor: pointer;
}

.main-container {
  height: 83dvh;
  display: flex;
  background-image: url('https://cdn.aptoide.com/imgs/8/3/1/83152e7891e0d578211e2b96d93d35f7_feature_graphic.jpg');
}

.main-container::before {
  filter: blur(8px);
}


.history-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 10px 0;
  width: 20%;
}

.play-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.change-time,
.add-opponent,
.open-history-drawer {
  border: none;
  padding: 5px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  margin: auto 0;
  height: 40%;
  cursor: pointer;
  width: 150px;
}

.leave-room {
  border: none;
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin: auto 0;
  height: 40%;
  cursor: pointer;
  width: 150px;
}

.start-btn {
  height: 50px;
  width: 220px;
}

.playing {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
}

.started {
  border-radius: 5px;
}

.already-friend {
  padding: 5px;
  border-radius: 5px;
  margin: auto 0;
  height: 40%;
  width: 150px;
}

.ask-friend {
  padding: 5px;
  border-radius: 5px;
  margin: auto 0;
  height: 40%;
  width: 150px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

.timer-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.timer {
  position: absolute;
  top: 50%;
  border: 1px solid black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  align-items: center;
  margin: auto 0;
  background-color: white;
}

@media (max-width:1000px) and (min-width:600px) {
  .grid {
    margin: 20px 140px;
  }

  .parentCount {
    position: relative;
    margin: 140px auto;
  }
}

@media (max-width:600px) and (min-width:400px) {
  .grid {
    margin: 20px auto;
  }
}