.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    margin-bottom: 7px;
}

.avatar{
    width: 250px;
    height: 150px;
}

.right-side{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.btn-logout{
    height: inherit;
    background-color: none;
    border: none;
}
.logout{
    width: 40px;
    height: 40px;
}