.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    margin-bottom: 7px;
    height: 70px;
    padding-bottom: 5px;
}
h1{
    margin: auto;
}

.right-side{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 5px;
}

.avatar-dp{
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
}

.btn-logout{
    height: inherit;
    background-color: white;
    border: none;
}
.logout{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.rank-btn{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: auto;
    margin: auto 0;
    cursor: pointer;
    padding: 12px;
}
.my-rank{
    margin: auto 0;
}