.notify-drawer .MuiDrawer-paper {
    max-width: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.divider .MuiDivider-root {
    margin: 10px 0;
}

.notify-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notify-scroll {
    flex: 1;
    overflow-y: auto;
}

.notify-heading {
    text-align: center;
    margin: 10px;
}

.notify-sections {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 70vh;
}

.invite-heading {
    text-align: center;
    margin: 9px;
}

.text {
    width: 50%;
    padding: 10px;
    padding-right: 0;
}

.after-text {
    width: 75%;
    padding: 10px;
    padding-right: 0;
}

.status-info {
    width: 25%;
    padding: 10px;
}

.clear {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-notify {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}

.accept-btn,
.reject-btn {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 90%;
}

.single-notify button {
    margin: 5px;
}

.no-notify {
    text-align: center;
    padding: 10px 0;
}