.notify-drawer .MuiDrawer-paper {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.divider .MuiDivider-root {
    margin: 10px 0;
}

.notify-heading {
    text-align: center;
    margin: 10px;
}

.notify-sections {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.invite-heading {
    text-align: center;
    margin: 9px;
}

.text {
    width: 50%;
    padding: 10px;
    padding-right: 0;
}

.after-text {
    width: 75%;
    padding: 10px;
    padding-right: 0;
}

.status {
    width: 25%;
    padding: 10px;
}

.clear-btn {
    text-align: center;
    padding: 10px;
}

.clear-notify {
    width: 50%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    position: sticky;
    bottom: 10px;
    cursor: pointer;
}

.accept-btn,
.reject-btn {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 90%;
}

.single-notify button {
    margin: 5px;
}

.no-notify {
    text-align: center;
    padding: 10px 0;
}