.notify-drawer .MuiDrawer-paper {
    width: fit-content;
    padding: 8px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.divider .MuiDivider-root {
    margin: 10px 0;
}

.notify-heading {
    text-align: center;
    margin: 10px;
}

.notify-sections {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    /* heading space */
}

.notify-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.notify-container {
    max-height: 40vh;
    overflow-y: auto;
    margin: 8px 0;
}

.invite-heading {
    text-align: center;
    margin: 9px;
}

.accept-btn,
.reject-btn {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.single-notify span {
    padding: 4px;
    margin: 5px;
}

.single-notify button {
    margin: 5px;
}

.no-nofify {
    text-align: center;
    margin: 6px;
}