.home-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.rules-container {
    max-width: 600px;
    width: 80%;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.rules-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

.rules-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.rules-container li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.tip {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}

.btn-room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
}

.create-room,
.friends,
.invite-room {
    width: 100%;
    height: 80px;
    background-color: palevioletred;
    border-radius: 8px;
    color: black;
    border: none;
    cursor: pointer;
}