.header-container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border-bottom: 1px solid grey;
}

.title {
    padding-left: 15px;
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
}

.user-info-avatar {
    display: flex;
}

.header-user-name {
    margin: auto 10px;
}

.parent {
    position: relative;
}

.notification {
    height: 42px;
    width: 42px;
    margin: 12px;
    cursor: pointer;
    color: #6366f1;
}

.child-num {
    position: absolute;
    top: 0;
    right: 2px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    width: 12px;
    font-size: 14px;
    text-align: center;
    background-color: red;
    color: white;
}