.other-opponent-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.opponent-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.other-friend,
.active-opp {
    border: none;
    border-radius: 5px;
    margin: 3px;
    padding: 4px;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

.non-active-opp {
    border-radius: 5px;
    margin: 3px;
    padding: 6px;
}

.other-non-active {
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: gray;
}

.no-search-found {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}