.history-drawer .MuiDrawer-paper {
    width: 260px;
}

.history {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    margin: 2px auto;
    width: 80%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history:first-child{
    margin-top: 12px;
}

.history span{
    margin: 4px;
}

.no-history {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
    width: 65%;
    height: 45px;
    font-weight: 400;
    cursor: pointer;
    align-self: center;
}