.content-head .MuiDialogContent-root {
    padding-bottom: 0;
}

.dialog-create .MuiDialog-paper {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list-items {
    padding-left: 18px;
}

.content-create {
    font-size: 14px;
    line-height: 1.6;

}

.heading-content {
    text-align: center;
    font-size: 20px;
}

.info-content {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
}

.action-head {
    display: flex;
    justify-content: space-evenly;
}

.btn-cancel .MuiButton-root,
.btn-create .MuiButton-root {
    text-transform: none;
    font-size: 17px;
    background-color: slateblue;
    color: white;
    margin-bottom: 10px;
}