.friend-list{
    list-style-type: disc;
}
.active-now::marker {
    color: green;
}

.not-active-now::marker {
    color: black;
}

.active-now,
.not-active-now {
    font-size: 20px;
    padding-right: 10px;
    font-weight: 900;
    margin: auto 0;
}

.ind-friend {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    list-style-position: inside;
}

.name-friend {
    padding-right: 14px;
    font-size: 22px;
    font-weight: 600;
}

.active {
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.non-active {
    border: 1px solid grey;
    color: white;
    background-color: gray;
    border-radius: 5px;
}

.no-friend {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}