.friends-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.friend-list {
    list-style-type: disc;
}

.active-now::marker {
    color: green;
}

.not-active-now::marker {
    color: black;
}

.active-now,
.not-active-now {
    font-size: 20px;
    padding-right: 10px;
    font-weight: 900;
    margin: auto 0;
}

.name-friend {
    padding-right: 14px;
    font-size: 22px;
    font-weight: 600;
    margin: 5px;
}

.active {
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    margin: 4px;
    width: 50%;
}

.non-active {
    border: 1px solid grey;
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    width: 50%;
}

.no-friend {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.input-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 30%;
}

.input-friend {
    width: 100%;
    font-size: 16px;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 25px;
    border: 1px solid black;
}