.friends-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.friends-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.row {
    width: 100%;
}

.friend-list {
    list-style-type: disc;
}

.active-now {
    background-color: green;
}

.not-active-now {
    background-color: black;
}

.status {
    vertical-align: middle;
}

.active-now,
.not-active-now {
    display: inline-block;
    /* vertical-align: middle; */
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: auto 5px;
}

.name-friend {
    padding-right: 14px;
    font-size: 22px;
    font-weight: 600;
    margin: 5px;
}

.active {
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    margin: 4px;
    /* width: 50%; */
}

.non-active {
    border: 1px solid grey;
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding: 6px;
    margin: 4px;
    /* width: 50%; */
}

.no-friend {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.input-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 30%;
}

.input-friend {
    width: 100%;
    font-size: 16px;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 25px;
    border: 1px solid black;
}

.input-friend:focus {
    outline: none;
    border: 2px solid grey;
}