.no-rank {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.leaderboard {
    table-layout: fixed;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

.modal-container {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.ind-rank {
    width: 95vw;
    text-align: center;
    /* border: 1px solid black; */
}

.ind-rank th {
    padding: 10px;
    background-color: rgb(192, 191, 191);
}

.ind-rank td {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.rank-heading {
    align-content: center;
    margin-bottom: 10px;
}

.rank-num {
    padding-right: 8px;
    font-size: 20px;
}

.rank-name {
    font-size: 20px;
}

.home-back{
    text-align: center;
    align-self: center;
    background-color: blueviolet;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    border: none;
    width: 15%;
    height: 40px;
    margin: 10px;
    position: sticky;
    bottom: 0;
    cursor: pointer;
}