.no-rank {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.modal-container{
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.ind-rank {
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

h1{
    align-content: center;
}

.rank-num {
    padding-right: 8px;
    font-size: 20px;
}

.rank-name {
    font-size: 20px;
}